<div class="row">
			<div class="admin col-xl-12">
			<table class="table">
				<tr>
					<th>ID</th>
					<th>Destination</th>
					<th></th>
					<th></th>
				</tr>
					<% persons.forEach( function(model) { %>
				<tr>
					<th class="id"><%= model.id%></th>
					<td class="destination"><%= model.city%></td>
					<td class="update"><a href="/person/update/<%= model.id%>" class="update-link">Update</a></td>
					<td class="delete"><a href="/person/delete/<%= model.id%>" class="delete-link">Delete</a></td>
					<td><a href="/Person/cusbuy?city=<%= model.city %>">Bought Users</a></td>
				</tr>
					<% }); %>
			</table>
			</div>
		</div>